    <div class="card mb-4 shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%" src="https://img.tatacliq.com/images/i4/437Wx649H/MP000000003503708_437Wx649H_20200331222730.jpeg" />
       
      <div class="card-body">
          <p class="card-text">
              <strong>
                {{322 | currency:'INR'}}
              </strong>
          </p>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
            <button type="button" class="btn btn-sm btn-secondary product-btn">View Details</button>
          </div>          
        </div>
      </div>
    